* { margin:0; padding:0; } 
* { box-sizing: border-box; } 

.window { width:300px; 
 margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;  overflow: hidden;}

.images { position: relative; } 

.images > img { position: absolute; transition: all 1500ms;width:100%;} 

.images > img.current{
    transform: translateX(0);
    z-index: 1;
}
.images > img.leave{
    transform: translateX(100%)
}
.images > img.enter{
    transform: translateX(-100%)
}